/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
#primapagina #secondapagina #terzapagina #quartapagina{
    display: inline-block;
    width:100%;
    height: 600px; 
}

#secondapagina #barra{
  display: inline;
    float: right;
    position: absolute;
    right: 2%;
    top: 105%;
    width: 100%;
    height: 40px;
    z-index: 2;
}
#terzapagina #barra{
  display: inline;
    float: right;
    position: absolute;
    right: 2%;
    top: 220%;
    width: 100%;
    height: 40px;
    z-index: 2;
}
#quartapagina #barra{
  display: inline;
    float: right;
    position: absolute;
    right: 2%;
    top: 335%;
    width: 100%;
    height: 40px;
    z-index: 2;
}
#imgsfondo{ width: 100%;
      height: 100%;
      filter: drop-shadow(10px 10px 20px black);
      -webkit-filter: drop-shadow(10px 10px 20px black);
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }

#slogan-centrale{
   position: absolute;
   left: 25%;
   top: 40%;
    margin: 0px ;
    width: 50%;
    border: 2px solid red;
}
#slogan-centrale h1{
    font-size: 40px;
    text-align: center;
}
#barra{
    display: inline;
    float: right;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 100%;
    height: 40px;
    z-index: 2;
}

#navbar{
  display: inline;
  float:right;
    width: 50%;
    height: 50px;
    margin: 0%;
    padding: 0%;
    border:3px solid green;
}

#navbar li{
    display:inline;
    float: left;
    width: 22%;
    height: 30px;
    padding: 0%;
    border: 2px solid green;
    cursor: pointer;
}

#logo{
    display: inline;
    float: left;
    position: absolute;
    left: 5%;
    top: 2%;
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
#logo img{
  display: inline;
  float: left;
    width: 100%;
    height: 100%;
}
.pulsante{
  text-align: center;
  font-size: 22px;
  margin-left: 2%;
  margin-top: 10px;
}
.pulsante a{
  text-decoration: none;
  color: black;
}

.pulsante:hover{
  text-decoration: underline;
  
}

#seconda-pagina{
    width: 100%;
    height: 600px;
    border: 2px solid green;
  
}

.icona{
display: inline;
float: left;
width: 40%;
height: 150px;
}

.icona img{width: 100%; height: 100%;}

#card-container{width: 90%; margin-left: 5%; height: 400px;
  float: left;
  position: absolute;
  top: 20%; border: 3px solid black;
}
#close{float: right; margin:0; padding:0;font-size: large;display: inline;}
#close h1{width: 100%;height: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #primapagina{height: 600px;}
    #navbar{display: none;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #primapagina{height: 690px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #primapagina{height: 740px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #primapagina{height: 690px;}
    #logo{width: 70px;
    height: 70px;
        }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1900px) {
    #primapagina{height: 940px;}
  }

  