#primapagina{
    display: inline-block;
    width:100%;
    height: 600px;
  
 
}
#imgsfondo{ width: 100%;
     height: 100%;
     filter: drop-shadow(10px 10px 20px black);
      -webkit-filter: drop-shadow(10px 10px 20px black);
      filter: blur(5px);
       -webkit-filter: blur(5px);
    }

#slogan-centrale{
   position: absolute;
   left: 20%;
   top: 40%;
    margin: 0px ;
    width: 60%;
    border: 2px solid red;
}
#slogan-centrale h1{
    font-size: 40px;
    text-align: center;
}
#barra{
    display: inline;
    float: right;
    position: absolute;
    left: 30%;
    top: 5%;
    width: 60%;
    height: 40px;
    border: 2px solid red;

}
#navbar{
    width: 100%;
    border:3px solid green;
    float: right;
}

#navbar li{
    display: inline;
  
    margin-left: 25px;
    float: left;
}

#logo{
    display: inline;
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid red;
}
#logo img{
    width: 100%;
    height: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #primapagina{height: 600px;}
    #navbar{display: none;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #primapagina{height: 650px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #primapagina{height: 720px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #primapagina{height: 720px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1900px) {
    #primapagina{height: 950px;}
  }

  